/*Diseños botones:*/
/*http://www.w3bai.com/es/css/css3_buttons.html*/

/*Fotos
https://www.mhnconcepcion.gob.cl/640/w3-article-53096.html?_noredirect=1*/


/*ESTILO GENERAL*/
*{
    box-sizing: border-box;
    margin: 10;
    padding: 10;
}

/*CLASES SIN OBJETO ESPECIFICO*/
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PAG HECHOS*/
.Imagenes{
    float: left;
    width: 60%;
}

img{
    display: block;
    cursor: pointer;
}

.container{
    margin: auto;
    width: 100%;
    max-width: 540px;
}

.container .selected{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 4px solid black;
}

.container .imgContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.container .imgContainer img {
    width: 100px;
    height: 100px;
    margin: 5px 0;

}

.seccion{
    float: left;
    width: 60%;
}

.seccion h1{
    text-align: right;
    margin: 5px;
}
.seccion img{
    height: 100%;
    width: 100%;
}

.columna{
    width: 39%;
    float: left;
}

.columna h1{
    font-size: 30px;
    text-align: center;
}

.columna div{
    padding: 10px;
}

.columna p{
    text-align: justify;
    font-size: 12px;
}

.pie{
    clear: both;
}

/*CAROUSEL*/
.carousel__lista{
    padding: 15px;
}

.carousel__elemento img{
    height: 35vh;
    width: 35vw;
}

.seccion .selected {
    height: 100%;
    width: 100%;
}

/*BOTON EN MAPA*/
.botonm{
    background-color: #112529;
    width: 30px;
    height: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 50%;
    border: 3px solid  #112529;
    position: absolute;

    /*Desplazamiento*/
    /*left: 300px;
    top: 430px;*/
}

.botonm:hover{
    background-color: #30B35C;
    border-radius: 50%;
}

.botonm:hover .tooltiptext{
    visibility: visible;
}

.botonm .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.botonm .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/*BOTON VOLVER*/
.botonv{
    background-color: grey;
    border: 1px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: honeydew;
    padding: 5px;
}

.botonv:hover{
    background-color: black;
}

/*HECHOS NAV BAR*/
/*.menu{
    border: 1px solid black;
}*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/*Boton ingresar hechos*/

.botoni {
	box-shadow: 0px 0px 0px 2px #493ffc;
	background:linear-gradient(to bottom, #6f5eef 5%, #493ffc 100%);
	background-color:#6f5eef;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #444673;
}
.botoni:hover {
	background:linear-gradient(to bottom, #493ffc 5%, #6f5eef 100%);
	background-color:#493ffc;
}
.botoni:active {
	position:relative;
	top:1px;
}

.form{
    text-align: justify;
    font-size: 12px;  
}

.seccion h5{
    text-align: justify;
    font-size: 15px;  
    margin: 1px;
}

.input{
    height: 15px;
    font-size: 15px;
    outline: none;
    width: 90%;
    height: 30px;
    /*border-style: groove;
    border-color: grey;*/
    margin-bottom: 0px;
    margin-left: 20px;
    border: 1px groove #0e1030;
    color: #0e1030;
}

.label{
    margin: 10px;
    color: #0e1030;
    font-size: 14px;
    font-weight: bold;
}

.textarea{
    height: 15px;
    font-size: 14px;
    outline: none;
    height: 197px;
    width: 90%;
    margin-bottom: 0px;
    margin-left: 20px;
    resize: none;
    border: 1px groove #0e1030;
    color: #0e1030;
/*    border-style: groove;
    border-color: grey;*/
}

.header h1{
    text-align: center;
}

.LatLong{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1px;
    list-style: none;
}

.error{
    font-size: 12px;
    color: #4d0033;
    margin-left: 20px;
    font-weight: bold;
}

.botonSubmit{
    background-color: #0e1030;
    border: 2px solid #0e1030;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: honeydew;
    padding: 5px;
    padding-inline: 9%;
    text-align: center;
    position: fixed;
    margin-left: 2px;
    font-weight: bold;
}

.botonSubmit:hover{
    background-color: #000ba8;
    color: white;
    border: 2px solid #000ba8;
}

.seccion2{
    float: left;
    width: 58%;
    padding: 10px;
    background-color: #5b65ff;
    height: 520px;
    margin-right: 3px;
    margin-left: 10px;
}

.columna2{
    width: 39%;
    float: left;
    padding: 10px;
    background-color: #5b65ff;
    height: 520px;
}

/*BOTON VOLVER 2*/
.botonv2{
    background-color: #0e1030;
    border: 2px solid #0e1030;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
    padding: 5px;
    padding-inline: 5%;
    font-weight: bold;
}

.botonv2:hover{
    background-color: #4d0033;
    color: white;
    border: 2px solid #4d0033;
}

.aviso{
    font-size: 12px;
    text-align: justify;
    margin-top: -15px;
    padding-left: 20px;
    color: #f5d523;
    font-weight: bold;
    width: 98%;
}

.fondoo{
    background-color: #313357;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: -10px;
}