*{
    margin: 0%;
    padding: 0%;
    font-family: monospace;
    font-size: 15px;
}
/*
.cuerpo{
    border: 1px solid black;
    background: url(conce.png);
    background-size: 100%;
}
*/

.boton{
    background-color: #112529;
    width: 30px;
    height: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 50%;
    border: 3px solid  #112529  ;
    position: absolute;

    /*Desplazamiento*/
    left: 300px;
    top: 430px;
}

.boton:hover{
    background-color: #30B35C;
    border-radius: 50%;
}

.mapa{
    background: url(conce.jpg);   
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    float: left;
    position: relative;
}

.seccion{
    border: 1px solid black;
    float: left;
    width: 60%;
}


/*Diseños botones:
http://www.w3bai.com/es/css/css3_buttons.html*/